html {
    --color-primary: #89abab;
    --color-secondary: #b4ad64;
    --color-tertiary: #bda724;

    --fontColors-primary: #4ac1fc;
    --fontColors-secondary:#e98209;
    --fontColors-tertiary:#cccccc;

    --appBackgroundColors-primary:#bfc1c2;
    
    --drawerBackgroundColors-primary:#d84848;

    --borderRadius-small:3px;
    --borderRadius-medium:8px;
    --borderRadius-large:12px;
    --borderRadius-xlarge:20px;

    --spaces-small:4px;
    --spaces-medium:8px;
    --spaces-large:12px;
    --spaces-xlarge:18px;

    --fontSizes-small:12px;
    --fontSizes-medium:16px;
    --fontSizes-large:18px;
    --fontSizes-xlarge:24px;

    --fontFamily:Roboto;

    --boxShadows-light:rgba(0, 0, 0, 0.15) 0px 0.1rem 0.6rem 0px;
    --boxShadows-medium:rgba(0, 0, 0, 0.55) 0px 0.1rem 0.6rem 0px;
    --boxShadows-deep:rgba(0, 0, 0, 0.85) 0px 0.1rem 0.6rem 0px;
}
